@font-face {
  font-family: 'bilibili-helper';
  src:url('bilibili-helper.eot?g1l381');
  src:url('bilibili-helper.eot?#iefixg1l381') format('embedded-opentype'),
    url('bilibili-helper.woff?g1l381') format('woff'),
    url('bilibili-helper.ttf?g1l381') format('truetype'),
    url('bilibili-helper.svg?g1l381#bilibili-helper') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'bilibili-helper';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-font-style:before {
  content: "\e60a";
}
.icon-color-mode:before {
  content: "\f065";
}
.icon-comment:before {
  content: "\f02b";
}
.icon-gear:before {
  content: "\f02f";
}
.icon-screen-full:before {
  content: "\f066";
}
.icon-screen-normal:before {
  content: "\f067";
}
.icon-screen:before {
  content: "\e600";
}
.icon-tv:before {
  content: "\e609";
}
.icon-play:before {
  content: "\e602";
}
.icon-pause:before {
  content: "\e603";
}
.icon-volume-high:before {
  content: "\e604";
}
.icon-volume-medium:before {
  content: "\e605";
}
.icon-volume-low:before {
  content: "\e606";
}
.icon-volume-mute:before {
  content: "\e607";
}
.icon-volume-mute2:before {
  content: "\e608";
}
.icon-loop:before {
  content: "\e601";
}

.ABP-Unit{
  position: relative;
  font-family: Helvetica,Arial,"Source Han Sans CN","Hiragino Sans GB","Microsoft Yahei","Microsoft Jhenghei",STHeiti,verdana,sans-serif;
  position:relative;
  color:#444;
  background:#fff;
  font-size:16px;
  outline:none;
}

.ABP-Unit.ABP-FullScreen{
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:auto !important;
  height:auto !important;
  position:fixed;
  z-index:9999;
}

.ABP-Unit .ABP-Player {
  position: relative;
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  height: 100%;
}

.ABP-Unit.ABP-FullScreen .ABP-Player, .ABP-Unit.ABP-WideScreen .ABP-Player, .ABP-Unit.ABP-Mini .ABP-Player {
  width: 100%;
}

.ABP-Unit .ABP-Video{
  position:absolute;
  overflow:hidden;
  top:0;left:0;right:0;bottom:43px;
  background:#000;
  outline: none;
  cursor: pointer;
}

.ABP-Unit.ABP-Mini .ABP-Video {
  bottom:22px;
}


.ABP-Unit .ABP-Video video{
  width:100%;
  height:100%;
}

.ABP-Unit .ABP-Video .ABP-Container{
  -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  position: absolute;
  display: block;
  overflow: hidden;
  -ms-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ABP-Unit .ABP-Video .ABP-Container .cmt{
  -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  position: absolute;
  padding: 3px 0 0 0;
  margin: 0;
  color: #fff;
  font-family: SimHei, SimSun, Heiti, "MS Mincho", "Meiryo", "Microsoft YaHei", monospace;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  line-height: 100%;
  letter-spacing: 0;
  word-break: keep-all;
  white-space: pre;
}
.ABP-Unit .ABP-Video .ABP-Container .cmt.noshadow{
  text-shadow: none;
}
.ABP-Unit .ABP-Video .ABP-Container .cmt.rshadow{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#ABP-Tooltip {
  position: absolute;
  font-size: 10px;
  height: 14px;
  color: #444;
  line-height: 14px;
  background: rgba(255,255,255,.9);
  padding: 2px 4px;
  white-space: nowrap;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.4);
          box-shadow: 0 3px 6px rgba(0,0,0,.4);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ABP-Unit .ABP-Text{
  position:absolute;
  bottom:0;left:0;right:0;
  background:#fff;
  height:20px;
  padding:0;
  border:1px solid #ececec;
}

.ABP-Unit.ABP-Mini .ABP-Text{
  display: none;
}

.ABP-Unit .button, .ABP-Unit .button-group{
  position:absolute;
  color: #a2a2a2;
  width: 25px;
  text-align: center;
  line-height: 20px;
  top:0;
  bottom:0;
  cursor: pointer;
  -webkit-transition: opacity 0.1s linear, color 0.1s linear;
          transition: opacity 0.1s linear, color 0.1s linear;
}

.ABP-Unit .ABP-FullScreenGroup .ABP-Web-FullScreen {
  position: absolute;
  top: -22px;
  height: 20px;
  outline: solid 1px #ececec;
  outline-bottom: none;
  background: #fff;
  opacity: 0;
  margin-bottom: 1px;
  pointer-events: none;
}

.ABP-Unit.ABP-FullScreen .ABP-FullScreenGroup .ABP-Web-FullScreen {
  display: none;
}

.ABP-Unit .ABP-FullScreenGroup .ABP-Web-FullScreen::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
}

.ABP-Unit .ABP-FullScreenGroup:hover .ABP-Web-FullScreen {
  opacity: 1;
  pointer-events: auto;
}

.ABP-Unit .button.on {
  color: #585858;
}

.ABP-Unit .button:hover{
  color: #f45a8d;
}

.ABP-Unit .button:active {
  outline: solid 1px #0085b3;
  color: #fff;
  cursor: pointer;
  background-color: #00a1d8;
}

.ABP-Unit .ABP-CommentStyle {
  width: 80px;
  border-right: solid 1px #ececec;
}

.ABP-Unit .ABP-CommentStyle .button {
  width: 40px;
}

.ABP-Unit .ABP-CommentStyle .ABP-Comment-Font {
  left: 0;
}

.ABP-Unit .ABP-CommentStyle .ABP-Comment-Color {
  left: 40px;
}

.ABP-Unit .ABP-Text input{
  position: absolute;
  color: #666;
  width: -webkit-calc(100% - 148px);
  width: calc(100% - 148px);
  -webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,.07);
          box-shadow: inset 0 5px 10px rgba(0,0,0,.07);
  height: 16px;
  padding: 0;
  border: 0;
  left: 80px;
  outline: none;
  padding: 2px 4px;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
          transition: box-shadow .2s ease-in-out;
}

.ABP-Unit .ABP-Text input[type=text]:focus{
  -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 5px 5px rgba(0,0,0,.1);
}

.ABP-Unit .ABP-Text .ABP-Comment-Send {
  position: absolute;
  color: #fff;
  font-size: 12px;
  text-align: center;
  right: -1px;
  width: 60px;
  height: 20px;
  line-height: 22px;
  border: solid 1px #0085b3;
  border-top: none;
  cursor: pointer;
  background-color: #00a1d8;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.ABP-Unit .ABP-Text .ABP-Comment-Send:hover {
  background-color: #00ace3;
}

.ABP-Unit .ABP-Text .ABP-Comment-Send:active {
  background-color: #00a1d8;
  -webkit-box-shadow: inset 0 0 5px #0085b3;
          box-shadow: inset 0 0 5px #0085b3;
}

.ABP-Unit .ABP-Control{
  position:absolute;
  bottom:21px;left:0;right:0;
  background:#fff;
  border:1px solid #ececec;
  height: 20px;
  -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
      user-select: none;
  font-size: 14px;
}

.ABP-Unit.ABP-Mini .ABP-Control {
  bottom: 0;
}

.ABP-Unit .ABP-Control .button.ABP-Play {
  width: 35px;
}

.ABP-Unit .ABP-Control .ABP-Play{
  left:0;
}

.ABP-Unit .ABP-Control .ABP-FullScreenGroup{
  right:0;
}

.ABP-Unit .ABP-Control .ABP-CommentGroup {
  top:0;right:75px;bottom:0;
}

.ABP-Unit .ABP-Control .ABP-CommentGroup .ABP-CommentOption {
  width: 120px;
  height: 40px;
  padding: 10px;
  background: rgba(255,255,255,.9);
  position: absolute;
  left: -68px;
  bottom: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
          box-shadow: 0 0 10px rgba(0,0,0,.2);
  -webkit-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.ABP-Unit .ABP-Control .ABP-CommentGroup .ABP-CommentOption .label {
  margin: 0;
  text-align: left;
  color: #666;
  font-weight: bold;
  font-size: 12px;
}

.ABP-Unit .ABP-Control .ABP-CommentGroup .ABP-CommentOption .opacity-bar {
  position: relative;
}

.ABP-Unit .ABP-Control .ABP-CommentGroup .ABP-CommentOption .opacity-bar .bar {
  width: 100%;
  left: 0;
}

.ABP-Unit .ABP-Control .ABP-CommentGroup .ABP-CommentOption::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
}

.ABP-Unit .ABP-Control .ABP-CommentGroup:hover .ABP-CommentShow.on+.ABP-CommentOption, .ABP-Unit .ABP-Control .ABP-CommentGroup:active .ABP-CommentShow.on+.ABP-CommentOption {
  pointer-events: auto;
  opacity: 1;
  cursor: default;
}

.ABP-Unit.ABP-FullScreen .ABP-Control .ABP-CommentGroup, .ABP-Unit.ABP-Mini .ABP-Control .ABP-CommentGroup {
  right: 50px;
}

.ABP-Unit .ABP-Control .ABP-Volume{
  top:0;right:165px;bottom:0;
}

.ABP-Unit.ABP-FullScreen .ABP-Control .ABP-Volume {
  right: 140px;
}

.ABP-Unit.ABP-Mini .ABP-Control .ABP-Volume {
  right: 75px;
}

.ABP-Unit .ABP-Control .ABP-Loop {
  top:0;right:50px;bottom:0;
}

.ABP-Unit.ABP-FullScreen .ABP-Control .ABP-Loop, .ABP-Unit.ABP-Mini .ABP-Control .ABP-Loop {
  right: 25px;
}

.ABP-Unit .ABP-Control .ABP-WideScreen {
  top:0;right:25px;bottom:0;
}

.ABP-Unit.ABP-FullScreen .ABP-Control .ABP-WideScreen, .ABP-Unit.ABP-Mini .ABP-Control .ABP-WideScreen {
  display: none;
}

.ABP-Unit .ABP-Control .progress-bar {
  position:absolute;
  overflow:hidden;
  cursor:default;
  top:0;bottom:0;left:35px;
  background:#fff;
  border-left: 1px solid #ececec;
  width: -webkit-calc(100% - 295px);
  width: calc(100% - 295px);
}

.ABP-Unit.ABP-FullScreen .ABP-Control .progress-bar {
  width: -webkit-calc(100% - 270px);
  width: calc(100% - 270px);
}

.ABP-Unit.ABP-Mini .ABP-Control .progress-bar {
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
}

.ABP-Unit .ABP-Control .volume-bar {
  position: absolute;
  top: 0; right: 93px; bottom: 0;
  width: 80px;
}

.ABP-Unit.ABP-FullScreen .ABP-Control .volume-bar {
  right: 68px;
}

.ABP-Unit.ABP-Mini .ABP-Control .volume-bar {
  display: none;
}

.ABP-Unit .ABP-Control .bar{
  cursor: pointer;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  position:absolute;
  left: 10px;top:7px;bottom:0;
  height: 6px;
  background:#949494;
  border-radius: 6px;
}

.ABP-Unit .ABP-Control .bar::after {
    content: "";
    width: 100%;
    height: 18px;
    background-color: rgba(255,255,255,0);
    position: absolute;
    top: -6px;
}

.ABP-Unit .ABP-Control .bar .load, .ABP-Unit .ABP-Control .bar .dark {
  position: absolute;
  height: 0;
  height: 100%;
  border-radius: 6px;
}

.ABP-Unit .ABP-Control .bar .load{
  background:#00a0d8;
}

.ABP-Unit .ABP-Control .bar .dark{
  background:#007bb1;
}

.ABP-Unit .ABP-Control .bar .dark:before {
  position: absolute;
  top: -3px;
  right: -6px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
          box-shadow: 0 0 1px rgba(0,0,0,.5);
  content: "";
  cursor: pointer;
}

.ABP-Unit .ABP-Control .bar .dark::after {
  position: absolute;
  right: -3px;
  width: 6px;
  height: 6px;
  background-color: #009fd6;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5);
          box-shadow: inset 0 0 1px rgba(0,0,0,.5);
  content: "";
  cursor: pointer;
}

.ABP-Unit .ABP-Control .time-label {
  width: 80px;
  font-size: 11px;
  position: absolute;
  right: 187px;
  text-align: center;
  line-height: 22px;
  height: 20px;
}

.ABP-Unit.ABP-FullScreen .time-label {
  right: 162px;
}

.ABP-Unit.ABP-Mini .time-label {
  right: 94px;
}

.ABP-Unit .ABP-Control .time-jump {
  position: absolute;
  right: 188px;
  height: 15px;
  width: 74px;
  outline: none;
  border: solid 1px #ccc;
  text-align: center;
}

.ABP-Unit.ABP-Mini .ABP-Control .time-jump {
  right: 96px;
}

.ABP-Unit.ABP-FullScreen .ABP-Control .time-jump {
  right: 163px;
}

.ABP-Unit .ABP-Popup{
  position:absolute;
  background:#000;
  border:1px solid #33b5e5;
  left:10px;
  padding:5px;
  bottom:82px;
  opacity:0.8;
}

.ABP-Unit .ABP-Comment-List {
  position: absolute;
  top: 0;
  right: 0;
  width: 299px;
  height: -webkit-calc(100% - 2px);
  height: calc(100% - 2px);
  border: solid 1px #ccc;
  border-left: none;
}

.ABP-Unit.ABP-FullScreen .ABP-Comment-List, .ABP-Unit.ABP-WideScreen .ABP-Comment-List, .ABP-Unit.ABP-Mini .ABP-Comment-List {
  display: none;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title {
  width: 100%;
  background: #f8f8f8;
  color: #6a6a6a;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  border-bottom: solid 1px #ccc;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title * {
  position: absolute;
  text-indent: 6px;
  padding: 0px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title .time {
  width: 45px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title .content {
  left: 45px;
  width: 155px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title .date {
  left: 200px;
  width: 99px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container {
  width: 100%;
  height: -webkit-calc(100% - 25px);
  height: calc(100% - 25px);
  font-size: 12px;
  line-height: 24px;
  color: #666;
  overflow-y: scroll;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin: 0;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-track {
  background: transparent;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  min-height: 20px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container-Inner {
  padding: 0;
  margin: 0;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li {
  position: relative;
  display: block;
  height: 24px;
  overflow: hidden;
  cursor: default;
  -webkit-transition: background 0.1s linear;
          transition: background 0.1s linear;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li:hover {
  background: #cbe0ff;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li * {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 24px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .time {
  text-align: center;
  width: 50px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .content {
  width: 155px;
}

.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .date {
  width: 84px;
}

/** Aliases for Chinese named fonts because they don't work on *nix **/
@font-face{
  font-family: "\9ED1\4F53";
  src:local('SimHei');
}

@font-face{
  font-family: "\5B8B\4F53";
  src:local('SimSun');
}

@font-face{
  font-family: "\534E\6587\6977\4F53";
  src:local('SimKai');
}

@font-face{
  font-family: "\5E7C\5706";
  src:local('YouYuan');
}

@font-face{
  font-family: "\5FAE\8F6F\96C5\9ED1";
  src:local('Microsoft YaHei');
}
